.app-header {
  --animate-duration: 0.5s;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: $desktop-header-height;
  font-size: rem(16);
  border-bottom: 2px solid var(--accent-color);
  background-color: rgba(#FFFFFF, 0.7);
  backdrop-filter: blur(15px);
  opacity: 1;

  &--fixed {
    position: fixed;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(32);
    width: 100%;
  }

  &__logo {
    flex-shrink: 0;
    display: inline-flex;
    width: $logo-width;
    height: $logo-height;
  }

  &__call {
    display: inline-flex;
    align-items: center;
    gap: rem(8);
    line-height: 1;
    white-space: nowrap;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

  &__nav-toggle {
    display: none;
  }

  @include media_breakpoint(tablet) {
    &__nav-toggle {
      display: inline-flex;
      justify-content: flex-end;
      width: calc(1.85 * $desktop-header-height);

      .button-icon {
        position: relative;

        svg {
          position: absolute;
          transition: opacity 0.1s ease-in-out;
        }

        svg.open-menu {
          opacity: 1;
        }

        svg.close-menu {
          opacity: 0;
        }

        &.-open {
          svg.open-menu {
            opacity: 0;
          }

          svg.close-menu {
            opacity: 1;
          }
        }
      }
    }
  }

  @include media_breakpoint(mobile) {
    left: auto;
    border: none;
    background: none;
    backdrop-filter: none;
    height: $mobile-header-height;

    &__nav-toggle {
      width: auto;
    }

    &__logo,
    &__actions {
      display: none;
    }
  }
}