.work-slide {
  width: 100%;
  height: rem(460);
  max-width: rem(508);
  margin-bottom: rem(40);

  .image-radius {
    margin: 0;
  }

  @include media_breakpoint(mobile) {
    height: 70vw;
    max-height: rem(360);
    max-width: 100%;
    margin-bottom: 0;
  }
}