include ./../../../views/helpers/mixins
-
    fields = [
        {value: '', label: 'имя', name: 'name', type: 'text', required: 'true'},
        {value: '', label: 'Номер телефона', name: 'phone', type: 'tel', required: 'true'},
        {value: '', label: 'комментарии', name: 'phone', type: 'textarea', required: 'false'},
    ]

form.form(role='form' method='GET')
    div.__title
        div.h3 Заполните форму
    div.__fields
        each item in fields
            div.form__fields-item
                +input(item.value, item.label, item.name, item.type, item.required)
                div.error Example error text
    div.__actions
        +checkbox('Я согласен(а) на обработку персональных данных', 'agreement', true)
        button.button.-radius.-accent.full-width(type='submit')
            span Отправить заявку
            +svg('upload').s-24