.custom-select {
  position: relative;

  .custom-select-arrow {
    position: absolute;
    z-index: 11;
    top: 0;
    right: rem(12);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: $folder-height;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
  }

  .custom-select-container.is-open {
    ~ .custom-select-arrow {
      transform: rotate(-180deg);
    }

    ~ .custom-select-clear {
      display: none !important;
    }

    .custom-select-panel {
      padding: rem(16) 0;
    }
  }

  .custom-select-clear {
    position: absolute;
    z-index: 2;
    top: 0;
    right: rem(42);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: $folder-height;
  }

  .custom-select-placeholder {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .custom-select-opener, .custom-select-placeholder {
    display: flex;
    align-items: center;
    width: 100%;
    height: $folder-height;
    padding: 0 rem(16);
    font-size: rem(14);
    text-transform: uppercase;
    color: inherit;
    background-color: var(--gray-color);
    outline: none;
    border: none;
  }

  .custom-select-panel {
    background-color: var(--gray-color);
  }

  .custom-select-option {
    padding: rem(8) rem(18);
    font-size: rem(14);
    color: var(--gray-lighter-color);
    border-bottom: 1px solid var(--gray-light-color-opacity);

    &:first-child {
      display: none;
      margin-top: rem(16);
    }

    &.has-focus {
      color: var(--main-color);
      background-color: var(--accent-color);
    }

    &.is-selected {
      color: var(--main-color);
      background-color: var(--accent-color);

      &:before {
        content: '';
        padding: 0;
      }
    }
  }
}
