.glide {
  .glide__slide {
    cursor: zoom-in;

  }
  .glide__arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(42);
    gap: rem(16);
  }

  .glide__arrow {
    display: inline-flex;
    color: var(--gray-light-color-opacity);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }

    &--left {
      transform: rotate(180deg);
    }

  }

  .glide__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(42);
    margin-top: rem(64);
    gap: rem(8);

    .glide__bullet {
      flex-shrink: 0;
      display: inline-flex;
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      background-color: var(--text-color);
      transition: background-color 0.2s ease-in-out;

      &:hover, &--active {
        background-color: var(--gray-light-color);
      }
    }
  }

  @include media_breakpoint(mobile) {
    .glide__arrow {
      display: none;
    }

    .glide__bullets {
      margin-top: rem(16);
    }
  }
}