.about {
  .h2 {
    text-transform: none;
  }

  &__text {
    display: block;
    max-width: rem(480);
    padding-top: rem(8);
  }

  &__decor {
    display: block;
    height: 100%;
    min-height: rem(456);
  }

  @include media_breakpoint(mobile) {
    &__text {
      max-width: none;
    }

    &__decor {
      height: 60vw;
      min-height: rem(352);
      padding-top: rem(16);
    }
  }
}