.services {

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .text-contents {
      height: 100%;
      max-height: calc(var(--item-height-desktop) - var(--activator-size) - rem(48));
    }

    .button {
      margin: auto 0 0 auto;
    }

    @include media_breakpoint(mobile) {
      .text-contents {
        max-height: calc(var(--item-height-mobile) - var(--activator-size) - rem(112));
      }

      .button {
        width: 100%;
      }
    }

    @include media_breakpoint(small-mobile) {
      .text-contents {
        max-height: calc(80vw - var(--activator-size) - rem(100));
      }

      .button {
        margin: rem(16) auto 0 0;
      }
    }
  }

  &__links-list {
    .links-list {
      column-count: 2;

      @include media_breakpoint(mobile) {
        column-count: 1;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: rem(24);
    width: 100%;
    padding-bottom: rem(24);
  }

  &__image {
    display: block;
    max-height: rem(456);

    @include media_breakpoint(tablet) {
      height: rem(300);
      max-height: 100%;
    }

    @include media_breakpoint(tablet) {
      height: 60vw;
      max-height: rem(300);
    }
  }
}