-
    works = [
        {
            title: 'СТРОИТЕЛЬСТВО 2-Х ШПУНТОВЫХ КОТЛОВАНОВ',
            tableInfo: [
                {
                    name: 'Город',
                    text: ['г.Москва']
                },
                {
                    name: 'Выполненные работы',
                    text: [
                        'Погружение > 600 тонн шпунта',
                        'Наращивание шпунта до 18 метров',
                        'Установка распорной системы',
                        'Обратный выкуп шпунта'
                    ]
                },
                {
                    name: 'Шпунт',
                    text: ['Шпунт Ларсена VL']
                },
                {
                    name: 'Оборудование',
                    text: ['Вибропогружатель MULLER']
                }
            ]
        },
        {
            title: 'СОЗДАНИЕ ШПУНТОВОГО КОТЛОВАНА',
            tableInfo: [
                {
                    name: 'Город',
                    text: ['г.Москва']
                },
                {
                    name: 'Выполненные работы',
                    text: [
                        'Погружение > 600 тонн шпунта',
                        'Наращивание шпунта до 18 метров',
                        'Установка распорной системы',
                        'Обратный выкуп шпунта'
                    ]
                },
                {
                    name: 'Шпунт',
                    text: ['Шпунт Ларсена VL']
                },
                {
                    name: 'Оборудование',
                    text: ['Вибропогружатель MULLER']
                }
            ]
        },
        {
            title: 'ПОГРУЖЕНИЕ ШПУНТА ЛАРСЕНА 21 МЕТР',
            tableInfo: [
                {
                    name: 'Город',
                    text: ['г.Москва']
                },
                {
                    name: 'Выполненные работы',
                    text: [
                        'Погружение > 600 тонн шпунта',
                        'Наращивание шпунта до 18 метров',
                        'Установка распорной системы',
                        'Обратный выкуп шпунта'
                    ]
                },
                {
                    name: 'Шпунт',
                    text: ['Шпунт Ларсена VL']
                },
                {
                    name: 'Оборудование',
                    text: ['Вибропогружатель MULLER']
                }
            ]
        },
    ]
div.accordion#workAccordion
    each item in works
        div.ac
            div.__header
                button.__trigger
                    span #{item.title}
                    +svg('accordion-arrow').s-16

            div.__panel
                div.info-table
                    each chunk in item.tableInfo
                        div.__tr
                            div.__td #{chunk.name}
                            div.__td
                                each p in chunk.text
                                    p #{p}