extends layouts/default

block variables
    - title = 'ГРАНИТ: Аренда спецтехники'
    - calculationTitle = ''
    - formFields = []
    - isSectionMainAddText = true
block content
    include ../blocks/modules/section-main/section-main

    div.empty-separator
    section.about
        div.container
            +section-title('О компании')
            div.row
                div.col-6.col-sm-12
                    div.h2 Основу компании
                    div.about__text
                        div.text-contents
                            p составляют инженеры с опытом более 10 лет в строительстве и шпунтовых работах.
                            p Строгий контроль каждого этапа работ и поставок с использованием современных технологий позволяет избегать проблем с доставкой материалов и качеством производимых работ.
                            p Основу компании составляют инженеры с опытом более 10 лет в строительстве и шпунтовых работах.
                            p Строгий контроль каждого этапа работ и поставок с использованием современных технологий позволяет избегать проблем с доставкой материалов и качеством производимых работ.Основу компании составляют инженеры с опытом более 10 лет в строительстве и шпунтовых работах.
                            p Строгий контроль каждого этапа работ и поставок с использованием современных технологий позволяет избегать проблем с доставкой материалов и качеством производимых работ.
                div.col-6.col-sm-12
                    div.about__decor
                        div.image-radius.-top-right.-bottom-left
                            +img('about.png')





    div.empty-separator
    section.certificates
        div.container
            +section-title('сертификаты')
            include ../blocks/modules/sliders/certificates/certificates-slider

    div.empty-separator
    section.services
        div.container
            +section-title('услуги')
            include ../blocks/modules/services-accordion/services-accordion


    div.empty-separator
    - calculationTitle= 'РАССЧИТАЕМ СТОИМОСТЬ шпунтового ограждения'
    -
        formFields = [
            {value: '', label: 'Марка', name: 'mark', type: 'text', required: 'true'},
            {value: '', label: 'кол-во', name: 'amount', type: 'number', required: 'true', min: '1', max: '100'},
            {value: '', label: 'имя', name: 'name', type: 'text', required: 'true'},
            {value: '', label: 'Номер телефона', name: 'phone', type: 'tel', required: 'true'},
            {value: '', label: 'комментарии', name: 'phone', type: 'textarea', required: 'false'},
        ]
    include ../blocks/modules/sections-form/calculation-section

    div.empty-separator
    section.works
        div.container
            +section-title('наши работы')
            div.row
                div.col-6.col-sm-12
                    include ../blocks/modules/works-accordion/works-accordion
                div.col-6.col-sm-12
                    include ../blocks/modules/sliders/works/works-slider
            div.row
                div.col-6.col-sm-12
                    button.button.-radius-right.-accent
                        span Смотреть еще
                        +svg('arrow-right').s-24
    div.empty-separator
    section.statistics
        div.container
            div.row
                div.col-4.col-xs-6
                    div.statistics__item
                        span.statistics__number 138
                        span.statistics__name выполненных работ
                div.col-4.col-xs-6
                    div.statistics__item
                        span.statistics__number 110 000 т.
                        span.statistics__name шпунта поставленно
                div.col-4.col-xs-12
                    div.statistics__item
                        span.statistics__number 100+
                        span.statistics__name отгруженных машин




    div.empty-separator
    include ../blocks/modules/sections-form/feedback-section


block scripts
    script(src="js/vendor.js")
    script(src="js/index.js")