.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 $main-padding;
  width: 100%;
  max-width: $desktop-content-max-width;

  @include media_breakpoint(mobile) {
    max-width: $mobile-content-max-width;
    padding: 0 $mobile-padding;
  }
}

.fill-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.gray-light-color {
  color: var(--gray-light-color);
}

.accent-color {
  color: var(--accent-color);
}

.mobile-hidden {
  @include media_breakpoint(mobile) {
    overflow: hidden;
  }
}

.desktop-none {
  @include media_breakpoint(only-tablet only-small-desktop only-desktop) {
    display: none !important;
  }
}

@for $i from 1 through 12 {
  .gap-#{$i * 4} {
    gap: rem($i * 4);
  }
}

@for $i from 1 through 16 {
  .pt-#{$i * 8} {
    padding-top: #{$i * 0.5}rem;
  }
  .pb-#{$i * 8} {
    padding-bottom: #{$i * 0.5}rem;
  }
  .pl-#{$i * 8} {
    padding-left: #{$i * 0.5}rem;
  }
  .pr-#{$i * 8} {
    padding-right: #{$i * 0.5}rem;
  }
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-auto {
  margin: auto;
}

@for $i from 1 through 10 {
  .opacity-#{$i * 10} {
    opacity: #{$i * 0.1};
  }
}

@for $i from 2 through 12 {
  svg.s-#{$i * 4} {
    width: rem($i * 4);
    height: rem($i * 4);
  }
}

.text-contents {
  display: block;
  width: 100%;
  font-size: rem(16);
  line-height: 1.25;
  color: var(--text-color);

  p {
    margin: 0;
    padding-bottom: 1em;
  }

  .h1, .h2, .h3, .h4 {
    margin: 0;
    padding-bottom: 1em;
  }

  ul {
    margin-left: rem(16);
    list-style: disc;

    li {
      padding-bottom: 1em;
    }
  }

  *:last-child {
    padding-bottom: 0;
  }
  @include media_breakpoint(mobile) {
    font-size: rem(14);
  }
}

.image-radius {
  $image-radius: rem(120);
  $image-radius-mobile: rem(80);

  display: inline-flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  &.image-radius--top-left {
    border-top-left-radius: $image-radius;
  }
  &.image-radius--top-right {
    border-top-right-radius: $image-radius;
  }
  &.image-radius--bottom-left {
    border-bottom-left-radius: $image-radius;
  }
  &.image-radius--bottom-right {
    border-bottom-right-radius: $image-radius;
  }

  @include media_breakpoint(mobile) {
    &.image-radius--top-left {
      border-top-left-radius: $image-radius-mobile;
    }
    &.image-radius--top-right {
      border-top-right-radius: $image-radius-mobile;
    }
    &.image-radius--bottom-left {
      border-bottom-left-radius: $image-radius-mobile;
    }
    &.image-radius--bottom-right {
      border-bottom-right-radius: $image-radius-mobile;
    }
  }
}

.phone-link {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(8);
  font-size: inherit;
  line-height: 1;
  color: var(--accent-color);
  white-space: nowrap;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--gray-light-color);
  }
}

.empty-separator {
  display: block;
  width: 100%;
  height: rem(100);

  @include media_breakpoint(tablet) {
    height: rem(48);
  }

  @include media_breakpoint(mobile) {
    height: rem(32);
  }
}

.text-ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info-table {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  padding: rem(16) 0 rem(8);
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.15;
  font-family: inherit;
  color: var(--gray-light-color);

  &__tr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: rem(16);
    width: 100%;
  }

  &__td {
    display: inline-flex;
    flex-direction: column;
    row-gap: rem(4);
    width: 50%;
    color: var(--text-color);

    &:first-child {
      color: var(--gray-light-color);
    }
  }

  &.info-table--small {
    row-gap: rem(8);
    padding: 0;
    font-size: rem(14);

    .info-table__tr {
      column-gap: rem(8);
    }

    .info-table__td:first-child {
      color: var(--text-color);
    }
  }

  @include media_breakpoint(tablet) {
    &.info-table--small {
      font-size: rem(12);
    }
  }

  @include media_breakpoint(small-mobile) {
    font-size: rem(14);

    &:not(.info-table--small) {
      .info-table__tr {
        flex-direction: column;
      }

      .info-table__td {
        width: 100%;
      }
    }


  }
}