section.main
    div.container
        div.row
            div.col-6.col-sm-12
                div.main__title
                    h1.h1.h1--index РАБОТЫ НУЛЕВОГО ЦИКЛА СТРОИТЕЛЬСТВА
                    div.main__subtitle.text-semi-bold Комплекс шпунтовых и свайных работ по всей России “Под&nbsp;ключ”

            div.col-6.col-sm-12
                if isSectionMainAddText
                    div.main__text
                        div.gray-light-color Сэкономим до 40%
                        div.gray-light-color на материале и работах без потери качества и надежности
                        div За счёт использования новейших видов шпунта, собственного парка техники и бесплатного аудита проекта.
        div.main__actions
            +button-circle
        div.main__decor
            +img('fs.png')

